
:root {
  --primaryColor: rgb(253, 204, 15);
  --darkPrimary: rgb(244, 175, 0);
  --shadow: rgba(253, 170, 15, 0.3);
}

main {
  margin: 50px 0 !important;
}

section {
  margin-top: 50px !important;
}
@media screen and (min-width: 992px) {
  section,
  main {
    margin: 20px 0 !important;
  }
}

/* *start of loading screen */
.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: rotation 1.15s linear infinite;
  animation: rotation 1.15s linear infinite;
}
.loader::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-bottom: 4px solid var(--darkPrimary);
  border-left: 4px solid transparent;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loadingScreen {
  z-index: 2000;
}


/* *start of header & navbar */
.nav-item,
.socialIcons i,
.mealInfo,
.mealCateg,
.mealArea,
.mealIngradient {
  cursor: pointer;
}

.navIcons {
  background-color: rgba(255, 255, 255, 0.9);
  border-right: 2px solid var(--shadow);
}

header {
  z-index: 999 !important;
  left: -250px;
}

.socialIcons i {
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

.socialIcons i:hover {
  color: var(--darkPrimary);
}

.navMenu {
  max-width: 250px;
}

.navIcons,
.mobileBtn {
  width: 60px !important;
}
.nav-link {
  font-size: 17px;
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.nav-item:hover .nav-link {
  color: var(--primaryColor) !important;
}

.nav-item {
  top: 280px;
}

.nav-item::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--primaryColor);
  -webkit-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;
  position: absolute;
  bottom: 1px;
}

.nav-item:hover::after {
  width: 100%;
}

.menuBtn {
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.menuBtn:hover {
  color: var(--darkPrimary) !important;
}
.mealOverlay {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  -webkit-transition: top 600ms;
  -o-transition: top 600ms;
  transition: top 600ms;
}

.mealInfo:hover .mealOverlay {
  top: 0 !important;
  height: 100%;
}

.mealCateg .mealOverlay {
  top: 200%;
}

.mealCateg:hover .mealOverlay {
  top: 0%;
}

.fa-house-laptop,
.fa-drumstick-bite {
  font-size: 4rem;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem var(--shadow) !important;
  box-shadow: 0 0 0 0.25rem var(--shadow) !important;
  border-color: var(--primaryColor) !important;
}

.form-control::-webkit-input-placeholder {
  color: grey !important;
}

.form-control::-moz-placeholder {
  color: grey !important;
}

.form-control:-ms-input-placeholder {
  color: grey !important;
}

.form-control::-ms-input-placeholder {
  color: grey !important;
}

.form-control::placeholder {
  color: grey !important;
}

.btn {
  -webkit-transition: color 300ms, background-color 500ms !important;
  -o-transition: color 300ms, background-color 500ms !important;
  transition: color 300ms, background-color 500ms !important;
}

.formInput p {
  min-height: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}

.searchSec {
  z-index: 800;
}

.mealInst ol {
  list-style-position: inside;
}

.recipe p,
.tag p {
  font-size: 0.95rem;
}

.recipe {
  min-height: 40px;
}

